body,h1,h2,h3,h4,h5,h6,ul {
    margin: 0;
    padding: 0;
}

 body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    width: 1100px;
 }
 
.header {
    height: 293px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    justify-content: space-around;
    align-content: center;
    padding: 0 50px;
}

.header_menu {
    margin: 0;
    height: 100px;
    gap: 27px;
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style-type: circle;
}

.header_menu_item {
    font-weight: 400;
    font-size: 18px;
}

a {
    color: black;
}

.header_menu_item:hover, a:hover {
    list-style-type: none;
    text-decoration: none;
}

.logo {
    width: 148px;
}
.addresses{
    justify-self: end;
}
.addresses_link {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.address_item a {
        font-weight: 400;
        font-size: 18px;
}

.cover {
    height: 757px;
    background: url(../img/lotus-flower.png) center center/cover no-repeat;
}

.blakout {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.overplay {
    padding-top: 145px;
    max-width: 1000px;
    margin: 0 auto;
}

.h1_text {
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
}

.align_text_left {
    text-align: left;
}

.align_text_center {
    text-align: center;

}

.align_text_right {
    text-align: end;
}

.cover_description {
    display: grid;
    grid-template-columns: 1fr 256px;
    margin-top: 106px;
    color: white;
}

.cover_description-text {
    margin: 11px 0;
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    border: 1px solid white;
    width: 256px;
    height: 51px;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    line-height: 100%;
}

.lots {
    margin: 180px 24px 0 24px;
}

.lots_heading {
    margin: 0 0 27px 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}
.card {
    width: 334px;
    min-height: 596px;
}

.card .blakout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card_type_film{
    background: url(../img/photo.jpg) center center/cover no-repeat;
}

.card_type_book {
    background: url(../img/book.jpg) center center/cover no-repeat;
}
 
.card_type_picture {
    background: url(../img/paitng.jpg) center center/cover no-repeat;
}

.card__title {
    display: block;
    padding: 48px 40px 0 40px;
    color: white;
    font-weight: 700;   
    font-size: 22px;
    text-transform: uppercase;
}

.card__text {
    padding: 0 40px 48px 40px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.lots__look-more-link {
    display: inline-block;
    margin: 30px 0 0 40px;
    font-weight: 400;
    font-size: 20px;
}

.about {
    margin-top: 155px;
    margin-left: 47px;
    display: grid;
    grid-template-columns: 240px 1fr;
    column-gap: 72px;
}

.about_blak_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    background-color: black;
    border-radius: 100%;
}

.about_title {
    margin-top: 98px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about_text {
    font-weight: 400;
    font-size: 24px;
}
